
body {
    background-color: #FCD2DC;
    font-family: 'Aclonica';
    font-size: 20px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  
h1 {
  font-family: aclonica;
  text-shadow: 4px 2px 4px rgb(198, 122, 122);
  justify-content: center;
  display: flex;
  
  
}

header {
  width: auto;
  height: 50px;
  background: linear-gradient(to right, #FCD2DC, #33333399); 
  color: #fff; 
  padding: 10px 0;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 20px;
}



.header {
  width: fit-content;
  height: fit-content;

}

.aboutus {
  width: 80%;
  background-color:#FCD2DC;
  text-align: center;
  
}






/* ----Images with links----------------------------------------------------------- */

.images {
  text-align: center;
  align-items: center;
}




/* Girl Image Styles-------------------------------*/


.girl-image-text {
  
  

}


.girl-image-style img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}


.girl-image-style:hover img {
  filter: blur(7px);
}




/* Cat Image Styles-------------------------------*/

.cat-image-container {
  
}



.cat-image-style img{
  width: 300px;
  height: 300px;
  border-radius: 20px;
  
}

.cat-image-style:hover img{
  filter: blur(7px);
}




/* Keyboard Image Styles-------------------------------*/

.keyboard-image-style img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.keyboard-image-style:hover img{
  filter: blur(7px);
}


/* Cow Image Styles-------------------------------*/

.cow-image-style img{
  width: 300px;
  height: 300px;
  border-radius: 20px;
  
}

.cow-image-style:hover img{
  filter: blur(7px);
  
}










.cat-gif {
  
  width: 120px;
  height: auto;
  position: absolute;
  top:0px;

}


.font-color1 {
  color: rgb(108, 108, 108);
  font-size: 60px;
  
 }