body {
    background-image: url("https://images-cdn.welcomesoftware.com/Zz0zZTliMjQ4MzhlNGExMWViYmJiMjFiZTI2ZWNmN2MzZA==");
    font-family: 'Aclonica';
    font-size: 20px;
  }
  
h1 {
  font-family: aclonica;
  text-shadow: 4px 2px 4px rgb(198, 122, 122);
  justify-content: center;
  display: flex;
  
  
}

header {
  width: auto;
  height: 50px;
  background-color: #33333399; 
  color: #fff; 
  padding: 10px 0;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 20px;
}




.header {
  width: fit-content;
  height: fit-content;

}

.aboutus {
  width: 120px;
  background-color:#FCD2DC;
  
}




.resized-image1 img{
  width: 300px;
  height: 300px;
  border-radius: 20px;
  
}

.resized-image3 img{
  width: 300px;
  height: 300px;
  border-radius: 20px;
  
}

.resized-image2 img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}


.resized-image4 img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.resized-image2:hover img{
  filter: blur(7px);
}

.resized-image3:hover img{
  filter: blur(7px);
  
}

.resized-image1:hover img{
  filter: blur(7px);
}

.resized-image4:hover img {
  filter: blur(7px);
}


.img-text1  {
  position: absolute;
  left: 420px;
  top: 380px;
  
}

.img-text3 { 
  position: absolute;
  left: 70px;
  top: 380px;
  text-align: center;
}

.img-text2 {
  position: absolute;
  bottom: -20px;
  left:100px;
}

.img-text4 {
  position: absolute;
  left: 420px;
  bottom: -20px;
}





.resized-gif {
  width: 120px; 
  height: auto;
  position: absolute;
  top:0px;

}


.font-color1 {
  color: rgb(108, 108, 108);
  font-size: 60px;
  
 }